.mermaid .code-widget {
  display: none !important;
}

/* 去掉容器和 svg 的背景 */
.mermaid,
.mermaid svg {
  background: transparent !important;
}

.mermaid > svg > rect:first-of-type {
  fill: transparent !important;
}