.mermaid .code-widget {
  display: none !important;
}

.mermaid svg,
.mermaid svg rect {
  background: transparent !important;
  fill: transparent !important;
}
/* 只让图表元素保持原色 */
.mermaid svg .actor,
.mermaid svg .messageText,
.mermaid svg text,
.mermaid svg path,
.mermaid svg line,
.mermaid svg circle {
  fill: inherit !important;
}
