.mermaid .code-widget {
  display: none !important;
}

.mermaid {
  margin: 1rem 0 !important;
  padding: 0 !important;
}

.mermaid svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto !important;
}
